# DNS host records for VLAN nodes.
{% for name in groups['vlannodes'] -%}
    host-record=
    {{- name }},
    {{- name }}.esperia,
    {{- hostvars[name].vlanip4 | ipaddr('address') }}
{% endfor %}

# DNS aliases for VLAN nodes.
{% for name in groups['vlannodes'] -%}
    {%- if hostvars[name].aliases is defined -%}
        cname=
            {%- for alias in hostvars[name].aliases -%}
                {{- alias -}},
            {%- endfor -%}
        {{- name }}.esperia
{% endif %}
{% endfor %}

