#
# <meta:header>
#   <meta:licence>
#     Copyright (c) 2019, ROE (http://www.roe.ac.uk/)
#
#     This information is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This information is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
#   </meta:licence>
# </meta:header>
#
#

{%- macro aliases(hostname, demlimiter) -%}
    {%- if hostvars[hostname].aliases is defined -%}
        {{ hostvars[hostname].aliases | join(demlimiter) }}
    {%- endif -%}
{%- endmacro -%}

# Gateway host.
Host lsstukhead
    User {{ lookup('env','ESPERIA_USER') }}
    HostName {{ hostvars['lsstukhead'].inetip4 | ipaddr('address') }}
    ServerAliveInterval 60
    ServerAliveCountMax 5
    ControlPath ~/.ssh/%r@%h:%p
    ControlMaster auto
    ControlPersist 5m

{% for hostname in groups['vlannodes'] %}
# VLAN host {{ hostname }}.
Host {{ hostname }} {{ aliases(hostname, ' ') if hostvars[hostname].aliases is defined else '' }}
    HostName {{ hostname }}.esperia
    User {{ lookup('env','ESPERIA_USER') }}
    ProxyCommand ssh -W %h:%p -l {{ lookup('env','ESPERIA_USER') }} -F {{ lookup('env','HOME') }}/.ssh/esperia-config lsstukhead
    ServerAliveInterval 60
    ServerAliveCountMax 5
    ControlPath ~/.ssh/%r@%h:%p
    ControlMaster auto
    ControlPersist 5m

{% endfor %}

{% for hostname in groups['vlannodes'] %}
# Virtual machines on {{ hostname }}.
Host {{ hostvars[hostname].vmnames | join(' ') }}
    User Stevedore
    ProxyCommand ssh -W %h:%p -l {{ lookup('env','ESPERIA_USER') }} -F {{ lookup('env','HOME') }}/.ssh/esperia-config lsstukhead
    ServerAliveInterval 60
    ServerAliveCountMax 5
    ControlPath ~/.ssh/esperia-%r@%h:%p
    ControlMaster auto
    ControlPersist 5m

{% endfor %}

